.main-image {
    background: linear-gradient(rgb(4 66 95 / 64%), rgb(0, 0, 128, 0.5)), url('../../assets/Images/png/main_background.png') no-repeat center center;
    background-size: cover;
}

.habot_input{
    width: 360px;
    padding: 15px 50px;
    outline: none;
    border-radius: 5px;
    color: black;
}

.habot_icon{
    color: rgb(249,115,22);
    position: absolute;
    left: 20px;
}

@media screen and (max-width:768px) {
    .habot_input{
        width: 300px;
    }
}
